#header {
    background: #01303f;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #02577a;
    height: 100px;
    padding: 5px 5px;
    max-width: 1200px;
    margin: 0 auto;

}

body{
    padding-top: 100px;
}

.logo-name{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 30px;
    transition: all 0.3s ease;
}

.nav-links li{
    position: relative;
    font-family: sans-serif;
    font-size: 20px;
}

.nav-links a{
    text-decoration: none;
    color:	#02a9f7;
    padding: 8px 12px;
    border-radius: 6px;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover{
    background: #707479;
}

    
